{% extends "base.html" %}

{%load staticfiles%}

{% block css%}
	<link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
	<link rel="stylesheet" href="{% static "dist/css/AdminLTE.min.css" %}">
	<link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">
	<link rel="stylesheet" href="{% static "plugins/iCheck/flat/blue.css" %}">
	<link rel="stylesheet" href="{%static "css/ionicons.min.css" %}">
 	<link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%}">
    <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker.css"%}">
    <link rel="stylesheet" href="{% static "css/select2.min.css"%}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.min.js" %}"></script>
        <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->
    <style>
    .head-box{min-height:100px;}

    .loader {
          position: fixed;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          z-index: 9999;
         background: url({% static 'image/reload.gif' %}) 50% 50% no-repeat rgb(249, 249, 249);
    }


    </style>
    <script>
    </script>
    {% block subcss %}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                celery 
            </h1>
            <ol class="breadcrumb">
                <li class="active"><a href="/"><i class="fa fa-dashboard"></i>首页</a></li>
                <li>interval管理</li>
            </ol>
        </section>
        <section class="content">
		<div class="box">
        <div class="box-header with-border" id="box-header">
          <h3 class="box-title">
         	<button type="button" class="btn btn-block btn-sm btn-info interval_add" id="interval_add">添加</button>
          </h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip"
                    title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>
        <div class="box-body">
		              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>
                    <div class="checkbox">
                        <input type="checkbox" id="chooseall" name="chooseall" class="allselect">
                    </div>
                  </th>
                  <th>every</th>
                  <th>period</th>
                  <th>操作</th>
                </tr>
                </thead>
                <tbody id="tb">
                {% for interval in intervals %}
                <tr>
                  <td class="interval_id">
                    <div class="checkbox">
                        <input type="checkbox" id="check_id" value="{{ interval.0}}" name="check_id" class="check_id">
                    </div>
                  </td>
                  <td class="interval_every">{{ interval.1 }}</td>
                  <td class="interval_period">{{ interval.2 }}</td>
                  <td>
                    <button type="button" class="btn btn-sm btn-warning record_delete" id="record_delete">
                     删除
                    </button>
                  </td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
	<!-- 新增crontab表单 -->
        {% include "homepage/celeryadmin/periodictask_manage/interval_add.html"%}
      </div>
      <!-- /.row -->
        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}

<script>
</script>

{% block js%}
    <script src="{%static "plugins/jQuery/jQuery-2.1.4.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script src="{%static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{%static "dist/js/app.min.js" %}"></script>
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
    <script src="{% static "js/popModal.js" %}"></script>
    <script src="{% static "js/myqccr.js" %}"></script>
    <script src="{% static "plugins/datetimepicker/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <script src="{% static "plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js" %}"></script>
    <script src="{% static "dist/js/custom/interval.js" %}"></script>

{#    <script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>#}
    <script src="{% static "js/select2.min.js" %}"></script>
    <script type="text/javascript">
        $(function () {
        $('#example1').DataTable()
        $('#example2').DataTable({
          'paging'      : true,
          'lengthChange': true,
          'searching'   : true,
          'ordering'    : true,
          'info'        : true,
          'autoWidth'   : true
        });
        })
    </script>
{% endblock %}
